

.header{
    display: flex;
    width: 100%;
    height: 90px;
    border:  1px solid red;
    background: #FA8072;
    
}

.header__logo{
    display: flex;
    margin-top: 10px;
    margin-left: 300px;
    width: 200px;
    background: none;
    border: none;
}

.header__img-logo{
    height: 70px;
    margin-right: 7px;
}

.header__img-menu{
    display: none;
}

.header__text-logo{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: "Unbounded", sans-serif;
}

.header__navs{
    display: flex;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.header__nav{
    margin-right: 20px;
    font-size: 24px;
    font-weight: 500;
}

.header__button{
    margin-top: 20px;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    background: #f2d566;
    border: 3px solid #d7ab00;
    border-radius: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.header__button-lk{
    margin-top: 21px;
    margin-right: 300px;
    background: #f2d566;
    border: 4px solid black;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
}

.header__button-lk:hover{
    border: 4px solid #d7ab00;
}



.dialog__test{
    background: grey;
    width: 100%;
    height: 100%;
    
}



.dialog{
    
    margin: auto;
    margin-top: 100px;
    background: white;
    border-radius: 20px;
    width: 28%;
    height: 700px;
    border: 1px solid red;
  
}

.dialog__img{
    width: 60px;
    height: 60px;
    margin-left: 210px;
    margin-top: 40px;
}

.dialog__text{
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    font-family: "Unbounded", sans-serif;
}



.dialog__input {
    box-sizing: border-box;
    width: 320px;
    margin: 20px auto;
}
.dialog__Email {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.dialog__Email input {
    background-color: #FFF;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    line-height: 16px;  
    height: 50px;
    outline: 0;
    padding: 0 20px;
    width: 100%;
}
.dialog__Email label {
    color: green;
    font-family: Verdana, sans-serif;   
    background-color: #FFF;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 10px;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    top: 12px;
    left: 10px;
    background-color: #FFF;
}
.dialog__Email input:focus + label,
.dialog__Email input:not(:placeholder-shown) + label{
    top: -10px;
    left: 10px;
    font-size: 11px; 
    background-color: red;
    padding: 2px 10px;
}

.dialog__Password {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.dialog__Password input {
    background-color: #FFF;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    line-height: 16px;  
    height: 50px;
    outline: 0;
    padding: 0 20px;
    width: 100%;
}
.dialog__Password label {
    color: rgb(13, 111, 182);
    font-family: Verdana, sans-serif;   
    background-color: #FFF;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 10px;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    top: 12px;
    left: 10px;
    background-color: #FFF;
}
.dialog__Password input:focus + label,
.dialog__Password input:not(:placeholder-shown) + label{
    top: -10px;
    left: 10px;
    font-size: 11px; 
    background-color: rgb(230, 9, 145);
    padding: 2px 10px;
}

.dialog__link{
    margin-top: 10px;
    display: block;
    margin-left: 80px;
}

.dialog__link:hover{
    text-decoration: underline;
    
}

.dialog__button{
    width: 380px;
    height: 50px;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: none;
    font-weight: 700;
    cursor: pointer;
}

.dialog__button:hover{
    color: aliceblue;
    background: black;
}

.dialog__login_using{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 210px;
}

.dialog__button_test{
    margin-left: 190px;
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 30px;
}

.dialog__button_tests{
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.gift__body{
    margin: auto;
    margin-top: 30px;
    width: 75%;
    height: 600px;
    border: 1px solid red;
    border-radius: 20px;
    background-image: url(../gift.png);
}

.gift__text{
    margin-top: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: Verdana, sans-serif; 
}

.gift__button{
    font-family: Verdana, sans-serif; 
    margin-top: 100px;
    margin-left: 550px;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    color: #FFF;
    background: purple;
    cursor: pointer;
    font-size: 18px;
}

.gift__button:hover{
    background: #000;
}


@media (max-width: 1024px) {
    
} 


@media (max-width: 720px) {
    .dialog{
        margin-top: 250px;
    }
} 


@media (max-width: 500px) {

    
    .header__logo{
        margin-left: 20px;
        display: none;
        
    }

    .header__navs{
        display: none;
    }

    .header__button{
     display: none;
    }

    .header__img-menu{
        width: 90px;
        height: 90px;
        display: block;
    }

    .header__button-lk{
        margin-left: 205px;
    }

.dialog__test{
  
}

    .dialog{
        margin-top: 0;
        width: 100%;
        height: 831px;
    }

    .dialog__img{
        margin-left: 140px;
    }

    .dialog__button{
      margin-left: 5px;
      width: 320px;
    }

    .dialog__login_using{
        margin-left: 130px;
    }

    .dialog__button_test{
        margin-left: 110px;
    }

    .gift__body{
        width: 80%;
    }

    .gift__button{
        margin-left: 35px;
    }

    .gift__text{
        font-size: 35px;
    }
} 